<!doctype html>
<html lang="en">
<%- include('partials/html-head', {title: "Pages"}); -%>

<body>
  <div id="app" class="wrap">
    <%- include('partials/header', {title: "Pages"}); -%>

    <section class="flex">
      <div class="flex-1"></div>
      <a href="/pages/new">+ new page</a>
    </section>
    <blockquote>
      <em>Your homepage <code>(/)</code> will display your blog posts in chronological order by default. To use a custom homepage, create a page without a slug. Once a no-slug page exists, it will be set as the homepage, and your blog will be accessible at <code>/blog</code>.</em>
    </blockquote>

    <%- include('partials/pages'); -%>
    <%- include('partials/pagination'); -%>
    <%- include('partials/footer'); -%>
  </div>
</body>

</html>