<!doctype html>
<html lang="en">
<%- include('partials/html-head', {title: page.slug ? `${profile.name ?? profile.username} / ${title}` : `${profile.name ?? profile.username}`}); -%>

<body id="body-page-<%= page._id %>">
  <div id="app" class="wrap">
    <%- include('profile/header', {title: profile.name ?? profile.username}); -%>

    <article id="page-<%= page._id %>">
      <div class="content"><%- page.html %></div>
    </article>

    <%- include('profile/footer'); -%>
  </div>
</body>

</html>