<!doctype html>

<html lang="en">
<%- include('partials/html-head', {title: "Account settings"}); -%>

<body>
  <div id="app" class="wrap">
    <%- include('partials/header',{title: "Account settings"}); -%>

    <section>

      <details open>
        <summary>Profile</summary>
        <div class="field">
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="enter your name" v-model="myAccount.name" />
        </div>
        <div class="field">
          <label for="icon">Favicon URL</label>
          <input type="text" id="icon" placeholder="enter an icon URL" v-model="myAccount.iconUrl" />
          <div class="help">Eg: https://example.com/favicon.png</div>
        </div>
        <div class="field">
          <label for="bio">Bio (supports markdown)</label>
          <textarea id="bio" placeholder="enter your bio" v-model="myAccount.bio" rows="2"></textarea>
        </div>
      </details>

      <details>
        <summary>Account</summary>
        <div class="field">
          <label for="username">Username</label>
          <input type="text" id="username" placeholder="enter your username" v-model="myAccount.username" />
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="text" id="email" placeholder="enter your email" v-model="myAccount.email" />
          <% if(typeof user.emailVerificationCode !== "undefined") { %>
          <a href="javascript:void(0)" v-on:click="resendVerification">resend verification</a>
          <% } %>
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="new password" v-model="myAccount.password" />
        </div>
      </details>

      <details>
        <summary>Navigation</summary>
        <p>Add links to the top navigation for your internal pages and posts, or any external websites.</p>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Link</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in myAccount.menu" :key="index">
              <td>
                <input type="text" placeholder="Menu name" v-model="item.name" />
              </td>
              <td>
                <input type="text" placeholder="/path or URL" v-model="item.link" />
              </td>
              <td>
                <button type="button" class="red" v-on:click="removeMenuItem(index)">remove</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="field">
          <button type="button" class="ghost" v-on:click="addMenuItem">add field</button>
        </div>
      </details>


      <details>
        <summary>Custom style</summary>
        <div class="field">
          <label for="style">CSS styles</label>
          <textarea id="style" placeholder="eg: body{background:red;}" v-model="myAccount.customStyle" rows="2" style="font-family: monospace;"></textarea>
        </div>
      </details>

      <details>
        <summary>Paid features 💰</summary>
        <div class="field">
          <label for="domain">Custom domain</label>
          <input type="text" id="domain" placeholder="enter a custom domain" v-model="myAccount.domain" :disabled="myAccount.isFreeUser" />
          <div class="help">
            Example: blog.example.com<br>
            To use a custom domain, create a CNAME record that points to <em><%=userDomain%></em>
          </div>
        </div>
        <div class="field">
          <label for="scriptUrl">Custom Script URL</label>
          <input type="text" id="scriptUrl" placeholder="enter a script URL" v-model="myAccount.customScriptUrl" :disabled="myAccount.isFreeUser" />
          <div class="help">Eg: https://example.com/script.js</div>
        </div>
        <div v-if="myAccount.isFreeUser">
          <hr />
          <p>Get access to all Veenew paid features with a one-time payment of <strong>$36</strong>.</p>
          <div class="flex">
            <div class="flex-1"></div>
            <button class="ghost" v-on:click="startPremiumCheckout">Buy now for $36</button>
          </div>
        </div>
      </details>
      <div class="spacer"></div>
      <div class="spacer"></div>

      <button v-on:click="updateAccount">update</button>
    </section>

    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>

    <section>
      <details>
        <summary>Log out</summary>
        <p><a href="logout" class="red"><strong>Log out of your account</strong></a></p>
      </details>
      <details>
        <summary>Account deletion</summary>
        <p>Deleting your account will permanently remove all your data and messages after 7 days. If you change your mind, just log back in within those 7 days to cancel the deletion.</p>

        <p><a href="/export" target="_blank">Download your data</a>, before proceeding further.</p>

        <div v-if="!deleteConfirm">
          <button class="red" v-on:click="deleteConfirm = true">delete account</button>
        </div>

        <div v-if="deleteConfirm">
          <p><strong>Are you sure?</strong></p>
          <button class="red" v-on:click="deleteAccount">confirm & delete</button>
        </div>
      </details>
    </section>
    <hr />
    <div class="spacer"></div>
    <%- include('partials/footer'); -%>

  </div>

  <script type="text/javascript">
    window.onload = () => {
      App.myAccount = {
        username: "<%=user.username%>",
        email: "<%=user.email%>",
        name: "<%=user.name%>",
        isFreeUser: "<%=user.usertype%>" === 'free',
        bio: "<%- JSON.stringify(user.bio || '').slice(1, -1) %>",
        password: "",
        iconUrl: "<%=user.iconUrl%>",
        domain: "<%=user.domain%>",
        nav: "<%- JSON.stringify(user.nav || '').slice(1, -1) %>",
        menu: <%- JSON.stringify(user.menu) %>,
        customStyle: "<%- JSON.stringify(user.customStyle || '').slice(1, -1) %>",
        customScriptUrl: "<%=user.customScriptUrl%>",
      };
    }
  </script>
</body>

</html>