<!doctype html>
<html lang="en">
<%- include('partials/html-head', {title: `${post.user.name ?? post.user.username} / ${title}`}); -%>

<body id="body-post-<%= post._id %>">
  <div id="app" class="wrap">
    <%- include('profile/header', {title: post.user.name ?? post.user.username}); -%>

    <section>
      <article id="post-<%= post._id %>">
        <div class="content"><%- post.html %></div>
        <div class="spacer"></div>
        <small>
          Posted on
          <time title="<%= post.createdOn.toISOString() %>">
            <em><%= postDate %></em>
          </time>
        </small>
      </article>
    </section>
    <%- include('profile/footer'); -%>
  </div>
</body>

</html>
